$ease-out: all .3s cubic-bezier(0.23, 1, 0.32, 1);

#add-recruit {
    margin-top: 10px;
}

.pipeline {
   margin-top: 0.5em;
   overflow-x: scroll;
   overflow-y: hidden;

    h3 {
        font-size: 1em;
    }
    


.drag-list, .drag-inner-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.drag-list { 
     white-space: nowrap;
}

.drag-column {
    margin: 0 7px;
    background:  #ccc;
    display: inline-block;
    width: 270px;
    padding-bottom: 1em;

    .stage-name {
        font-weight: 600;
        width: 100%;
        display: inline-block;
        text-overflow: ellipsis;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
    }
}

.drag-column-header {
  
    padding: 6px 25px 6px 12px;
    background-size: 20px 100%, 100% 100%;
 
}

.list-group {
    min-height: 50px;
    height: 75vh;
    color: #333;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
}

.drag-item {
    padding: 1em;
    min-height: 30px;
    border-bottom: 1px solid#ccc;
    margin-bottom: 5px;
    background-color: #fff;
    transition: $ease-out;
    position: relative;
    display: block;

    &.is-moving {
        transform: scale(1.5);
        background: rgba(#e5e5e5, 0.8);
    }

}

}


.mini-avatar {
    height: 16px;
    margin: 0 2px 0 0;
    border-radius: 50%;
    float: left;
}


.name {
    color: $primary-color;
}

.location, .state {
    color: $lighter-primary-color;
}

.drag-header-more {
    cursor: pointer;
}


/* Dragula CSS  */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
    list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}
